<!DOCTYPE html>
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register-style.css' %}">
<title>
    Log In | Flappybet.gg
</title>
<link rel="icon" href="{% static 'images/flappybet.jpg' %}" type="image/x-icon">

<div class="register-container">
    <div class="register-form">
        <h2>Log In to Flappybet.gg</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <a href="" style="text-decoration: none;"><p>Forgot Password?</p></a>
            <button type="submit" class="btn-submit">Log In</button>
            <hr>
            <a href="/" style="text-decoration:none;"><p>Go Back</p></a>
            <a href="/play2win.register/" style="text-decoration:none;"><p>Register</p></a>
        </form>
    </div>
</div>


{% endblock %}
